:root {
  --primary-bg: #31004A;
  --secundary-bg: #4C00A4;
  --tertiary-bg: #AB00FF;
  --text-white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Maven Pro', sans-serif;
}

body {
  height: 100vh;
}

h1,
h2,
p,
span {
  color: var(--text-white);
}

nav {
  background-color: var(--secundary-bg);
  height: 60px;
  width: 100%;
  font-size: 18px;
  top: 0px;
}

main {
  background: var(--tertiary-bg);
  display: grid;
}

.diana-container {
  overflow: hidden;
  width: 68%;
  height: 540px;
  background-color: var(--tertiary-bg);
  place-self: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.diana-btn {
  background-color: white;
  color: black;
  width: 100px;
}

.diana-svg {
  width: 100px;
  position: absolute;
  cursor: pointer;
  transition: transform 0.3s;
  user-select: none;
  border-radius: 50%;
}

.header {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.main-content {
  display: flex;
  justify-content: center;
  width: 100%;
  position: relative;
  height: 90%;
}

.title {
  font-size: 2.5rem;
}

.footer p {
  font-size: 20px;
  margin-bottom: 40px;
}

.btn {
  padding: 15px 25px;
  border-radius: 5px;
  border: none;
  color: var(--text-white);
  background-color: var(--secundary-bg);
  font-weight: bold;
}

.btn:hover {
  cursor: pointer;
  background-color: var(--primary-bg);
}