:root {
  --morado-oscuro-main: #800080;
  --violeta-main: #8A2BE2;
  --violeta-secondary: #bf89f3;
  --lavanda: #E6E6FA;
  --morado-claro: #D8BFD8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Maven Pro', sans-serif;
}

body {
  height: 100vh;
}

h1,
h2,
p,
span {
  color: var(--lavanda);
}

.scale-up-center {
  -webkit-animation: scale-up-center 0.1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation: scale-up-center 0.1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

nav {
  background-color: white;
  height: 60px;
  width: 100%;
  font-size: 18px;
  top: 0px;
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 0rem 2rem;
}

nav h1 {
  color: black;
}

main {
  background: var(--violeta-main);
  display: grid;
  position: relative;
}

.volumen {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 40px;
  margin: 1.5rem 5rem;
  cursor: pointer;
}

.volumen-muted {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 40px;
  margin: 1.5rem 5rem;
  cursor: pointer;
}

.show-on-mobile {
  display: none;
}

.main-content {
  overflow: hidden;
  width: 68%;
  height: 540px;
  place-self: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.diana-btn {
  background-color: var(--lavanda);
  color: black;
  width: 100px;
}

.diana-svg {
  width: 100px;
  position: absolute;
  cursor: pointer;
  transition: transform 0.3s;
  user-select: none;
  border-radius: 50%;
}

.header {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.diana-container {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  width: 100%;
  position: relative;
  height: 90%;
}

.title {
  font-size: 2.5rem;
}

.footer {
  margin-bottom: 40px;
  text-align: center;
}

.footer p {
  font-size: 20px;
}

.btn {
  padding: 15px 25px;
  border-radius: 5px;
  border: none;
  background-color: var(--violeta-secondary);
  color: black;
  font-weight: bolder;
}

.btn:hover {
  cursor: pointer;
  background-color: var(--lavanda);
}

.terminado-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.diana-terminado {
  width: 85px;
  user-select: none;
  border-radius: 50%;
  margin: 1rem 1rem;
}

@media (max-width: 700px) {
  main {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 90vh;
  }

  .main-content {
    visibility: hidden;
    width: 0;
  }

  .volumen {
    visibility: hidden;
  }

  .volumen-muted {
    visibility: hidden;
  }

  .show-on-mobile {
    display: block;
    background-color: var(--morado-claro);
    border-radius: 10px;
    padding: 10px;
    margin-right: auto;
    margin: 0 15px;
    text-align: center;
    z-index: 10;
  }

  .show-on-mobile h1 {
    color: black;
    font-size: 18px;
    line-height: 1.5;
  }
}

@media(max-width:1000px) {
  .volumen {
    margin-left: 1rem;
  }

  .volumen-muted {
    margin-left: 1rem;
  }
}