:root {
  --morado-oscuro-main: #800080;
  --violeta-main: #8A2BE2;
  --violeta-secondary: #bf89f3;
  --lavanda: #E6E6FA;
  --morado-claro: #D8BFD8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Maven Pro', sans-serif;
}

body {
  height: 100vh;
}

h1,
p,
span {
  color: var(--lavanda);
}


nav {
  background-color: white;
  height: 60px;
  width: 100%;
  font-size: 18px;
  top: 0px;
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 0rem 2rem;
}

nav h1 {
  color: black;
}

main {
  background: var(--violeta-main);
  display: grid;
  position: relative;
}

.volumen {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 40px;
  margin: 1.5rem 5rem;
  cursor: pointer;
}

.volumen-muted {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 40px;
  margin: 1.5rem 5rem;
  cursor: pointer;
}

.show-on-mobile {
  display: none;
}

.main-content {
  overflow: hidden;
  width: 68%;
  height: 540px;
  place-self: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.diana-btn {
  background-color: var(--lavanda);
  color: black;
  width: 100px;
}

.diana-svg {
  width: 100px;
  position: absolute;
  cursor: pointer;
  transition: transform 0.3s;
  user-select: none;
  border-radius: 50%;
}

.header {
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 15px;
  font-size: 20px;
}

.diana-container {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  width: 100%;
  position: relative;
  height: 90%;
}

.title {
  font-size: 2.5rem;
}

.title h1 {
  text-shadow: 0px 0px 24px #5C5696;
}

.footer {
  margin-bottom: 40px;
  text-align: center;
}

.footer p {
  font-size: 20px;
}

.terminado-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.diana-terminado {
  width: 85px;
  user-select: none;
  border-radius: 50%;
  margin: 1rem 1rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  text-decoration: none;
  list-style: none;
  font-size: 25px;
  color: black;
  font-weight: bold;
}

.logo {
  height: 8em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.logo.supabase {
  filter: drop-shadow(0 0 2em #56f456aa);

}

.logo.google {
  filter: drop-shadow(0 0 2em #f05a57aa);
  height: 3em;
  width: 3rem;
  padding: 0;
}

.login-container {
  background-color: var(--violeta-main);
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  color: rgba(255, 255, 255, 0.87);
}

.login {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 2rem;
  gap: 20px;
  background-color: var(--lavanda);
  border-radius: 5px;
  padding: 2rem;
  -webkit-box-shadow: 2px 1px 13px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 1px 13px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 1px 13px 0px rgba(0, 0, 0, 0.75);
}

/* .sign-in {
  border-radius: 5px;
  border-style: none;
  margin: 1rem;
  padding: 1rem;
  color: black;
} */

.sign-out {
  color: black;
  padding: 5px 15px;
  border-radius: 5px;
  font-size: 25px;
  text-decoration: none;
}

.login button:hover {
  background-color: var(--lavanda);
}

.btn {
  padding: 15px 25px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  background-color: white;
  border-color: var(--morado-oscuro-main);
  border-width: 2px;
}

.btn:hover {
  background-color: var(--lavanda);
}

.go-to-signup {
  color: black;
}

.error-msg {
  color: red;
}


.login-form input {
  padding: 5px;
  margin: 5px;
}

.login-form button {
  padding: 10px;
}

table {
  margin: auto;
  padding: 25px;
  text-align: center;
  width: 40%;
  background-color: var(--lavanda);
}

table thead tr {
  font-size: 20px;
  padding-bottom: 10px;
}

table tbody {}

@media (max-width: 700px) {
  main {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 90vh;
  }

  .main-content {
    visibility: hidden;
    width: 0;
  }

  .volumen {
    visibility: hidden;
  }

  .volumen-muted {
    visibility: hidden;
  }

  .show-on-mobile {
    display: block;
    background-color: var(--morado-claro);
    border-radius: 10px;
    padding: 10px;
    margin-right: auto;
    margin: 0 15px;
    text-align: center;
    z-index: 10;
  }

  .show-on-mobile h1 {
    color: black;
    font-size: 18px;
    line-height: 1.5;
  }
}

@media(max-width:1000px) {
  .volumen {
    margin-left: 1rem;
  }

  .volumen-muted {
    margin-left: 1rem;
  }


}

@media(min-width:1001px) {}